---
/* 
const response = await fetch('http://127.0.0.1:8000/api/get-items')
const data = await response.json();
console.log(data)
const items = data.items[0];
*/
---
<form action="#" method="post">
    <input type="text" name="name" placeholder="some random text here">
    <button type="submit">Submit</button>
</form>
<!--- 
    <items.map(item => {
        return (
            <div>
                <h1>{item.name}</h1>
                <p>{item.description}</p>
            </div>
        )
    })
--->
<!--- 
<div class="overflow-x-auto">
  <table class="table">
   
    <thead>
        <tr>
          <th></th>
          <th>Item</th>
          <th>Descirption</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>1</th>
          <td>Cy Ganderton</td>
          <td>Quality Control Specialist</td>
          <td>Blue</td>
        </tr>
      </tbody>
    </table>
  </div>
    <div>
        <h1>Items</h1>
        <h1>{items.name}</h1>
        <p>{items.description}</p>
    </div>
-->